<div id= "c1">
  <h2>Address and Phone Number</h2>
  <ul>
    <li>Sorrento Pizzeria</li>
    <li>387 Avenel Street</li>
    <li>Avenel, New Jersey</li>
    <li>mobile: +732 634 1881</li>
</ul>
</div>

<div id="c2">
  <h2>Also find us on</h2>
  <a href="https://www.facebook.com/SorrentosPizzeria/"><img class= "img" src="fbicon.png" alt="Facebook"></a>
  <a href="https://www.instagram.com/sorrentos_pizza_nj/"><img class= "img" src="instaicon.png" alt="Instagram"></a>
</div>
